body {
    margin-top: 50px;
}
.map {
    width: 800px;
    height: 600px;
    background-color: #cccccc;
    position: relative;
}
#card-header {
    color: white;
    background-color: orange;    
}
#card-body {
    color: white;
    background-color: red;    
}
#icon {
    color: green;
    font-size: 1.2em;
}
